@page
@model MapModel
@{
    ViewData["Title"] = "List of Spots";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li>Veggie Grill</li>
    <li>un-cooked</li>
    <li>Kinton Ramen</li>
    <li>Handlebar</li>
</ul>
