@page
@model IndexModel
@{
    ViewData["Title"] = "localvegems";
}

<div class="text-center">
    <h1 class="display-4">local_vegan_<span class="text-success">gems</span></h1>
    <p>A list of spots near you with some decent vegan fare. </p>

    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/5qap5aO4i9A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
