@page
@model MapModel
@{
    ViewData["Title"] = "Local Map";
}
<h1>@ViewData["Title"]</h1>

<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d95031.24820251329!2d-87.69773482104793!3d41.89873854284472!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1svegan%20in%20chicago!5e0!3m2!1sen!2sus!4v1625985628557!5m2!1sen!2sus" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
