@page
@model IndexModel
@{
    ViewData["Title"] = "localvegems";
}

<div class="text-center">
    <h1 class="display-4">local_vegan_<span class="text-success">gems</span></h1>
    <p>A list of spots near you with some decent vegan fare. </p>
</div>
